{% extends "Base.html" %} {% load static %} 
{% block title %}Login{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
<main class="b5">
  <div class="auth-box d-flex justify-content-center align-items-center vh-100">
    <div class="auth-form d-flex" style="flex-direction:row;">
        <div class="auth-img">
          <img
          src="{% get_media_prefix %}online-college--.jpeg"
          alt="lady studying"
          />
        </div>
        <form action="">
          <span>
              <h2>Sign In</h2>
          </span>
          <div class="logo">
            <img src="{% get_media_prefix %}Asset 4figma2.png" alt="">
          </div>
        <div class="register-data row">
            <input type="text" class="form-control" placeholder="Username or email" name="credential" />
            <input type="password" class="form-control" placeholder="Password" name="password" />
            <button type="button" style="margin-top: 10px;">Login</button>
        </div>
        <div class="notice mt-3 d-flex justify-content-center">
            <p>No account, <a href="">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
