{% extends "Base.html" %} {% load static %} {% block title %}Registration{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
<main class="">
  <div class="auth-box d-flex justify-content-center align-items-center vh-100">
    <div class="auth-form d-none" style="height: 93%">
      <div class="auth-img">
        <img
          src="{% get_media_prefix %}online-college--.jpeg"
          alt="lady studying"
        />
      </div>
      <form action="" class="mt-0">
        <span>
          <h2>Sign Up</h2>
        </span>
        <div class="logo pt-1">
          <img src="{% get_media_prefix %}Asset 4figma2.png" alt="" />
        </div>
        <div class="register-data mt-1 d-grid">
          <a
            href=""
            class="oauth-button custom-input d-flex justify-content-start align-items-center"
          >
            <img
              src="{% get_media_prefix %}Keeping_Up_with_Google__The_One_Blog_to_Rule_Them_All_-removebg-preview.png"
              alt=""
            />
            <p>Continue with Google</p>
          </a>
          <p class="p-0">OR</p>
          <input
            type="text"
            class="custom-input"
            placeholder="Fullname"
            name="fullname"
          />
          <input
            type="text"
            class="custom-input"
            placeholder="Username"
            name="username"
          />
          <input
            type="email"
            class="custom-input"
            placeholder="Email"
            name="email"
          />
          <input
            type="tel"
            class="custom-input"
            placeholder="Phone number"
            name="phone"
          />
          <input
            type="password"
            class="custom-input"
            placeholder="Password"
            name="password"
          />
          <button type="button" class="custom-input" style="margin-top: 5px">
            Continue
          </button>
        </div>
        <div class="notice mt-2 d-flex justify-content-center">
          <p>Already have an account, <a href="">Login</a></p>
        </div>
      </form>
    </div>
    <div class="auth-form onboarding d-flex">
      
    </div>
  </div>
</main>
{% endblock %}
